<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">    


<nav class="navbar" style="border-radius:0%;border:none;background-color: black; color: white;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home" style="box-shadow: none;color:white;"><h1>My Ride</h1></a>
            </div>
           
          
        
        </div>
      </nav>
    
<h1 class="text-center">Cabs</h1>
<div class="container">
    
    <table class="table table-striped mt-4">
        <tr>
            
            <th>Id</th>
            <th>Cab No</th>
            <th>Cab Name</th>
            <th>Cab Type</th>
            <th>Cab Capacity</th>
            <th>Action</th>
            
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.cab_id}}</td>
            <td>{{this.dataValues.cab_no}}</td>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_type}}</td>
            <td>{{this.dataValues.cab_capacity}}</td>
            <td>
                
                <a href="/book/{{this.dataValues.SignUpUserId}}" class="text-danger">Book</a> 
               
            </td>
        </tr>
        {{/each}}
    </table>
    {{!-- <p class="text-end">You are logged in as: 
        <b>{{identity.first_name}} {{identity.last_name}}</b>
    </p> --}}
</div>